[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "==4.6.0.66"
opencv-contrib-python = "==4.6.0.66"
mediapipe = "*"
wsq = "*"
pillow = "*"
fastapi = "*"
email-validator = "*"
uvicorn = {extras = ["standard"], version = "*"}
rich = "*"
python-multipart = "*"
scipy = "*"
pandas = "*"
urllib3 = "==1.26.14"
pydantic = "==1.*"
imutils = "*"
scikit-image = "*"
shapely = "*"


[dev-packages]
pytest = "*"
genbadge = {extras = ["coverage", "tests"], version = "*"}
pytest-html = "*"
coverage = "*"
httpx = "*"

[requires]
python_version = "3.8"
