[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cpu"
verify_ssl = true
name = "downloadpytorch"

[packages]
mediapipe = "*"
wsq = "*"
fastapi = {extras = ["standard"], version = "*"}
pydantic-settings = "*"
rich = "*"
scipy = "*"
pandas = "*"
librosa = "*"
torch = {version = "*", index = "downloadpytorch"}
imutils = "*"
psutil = "*"
tqdm = "*"

[dev-packages]
pytest = "*"
genbadge = {extras = ["coverage", "tests"], version = "*"}
pytest-html = "*"
coverage = "*"
httpx = "*"
anyio = {extras = ["trio"], version = "*"}

[requires]
python_version = "3"
